<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="HibernateSession">
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">mysql</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rectify</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.autocommit">true</property>
    <mapping class="pt.inesc.rectify.hibernate.Configuration" resource="/Configuration.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.KbDbOp" resource="/KbDbOp.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.KbDbOpParts" resource="/KbDbOpParts.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.KbHttpRequest" resource="/KbHttpRequest.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.KbHttpRequestParts" resource="/KbHttpRequestParts.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.KbHttpResponse" resource="/KbHttpResponse.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.KbHttpResponseParts" resource="/KbHttpResponseParts.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.LogDbOperation" resource="/LogDbOperation.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.LogDbSubOperation" resource="/LogDbSubOperation.hbm.xml"/>
    <mapping class="pt.inesc.rectify.hibernate.LogHttpRequest" resource="/LogHttpRequest.hbm.xml"/>
    <!--<mapping class="pt.inesc.rectify.hibernate.LogHttpResponse" resource="/LogHttpResponse.hbm.xml"/>-->
    <mapping class="pt.inesc.rectify.hibernate.RectifyLog" resource="/RectifyLog.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
