<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="HibernateSession">
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.password">mysql</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rectify</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.autocommit">true</property>
    <mapping resource="pt/inesc/rectify/hibernate/Configuration.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/LogDbStatement.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/LogHttpRequest.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/RectifyLog.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/KbHttpRequest.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/KbHttpResponse.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/LogHttpResponse.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/KbDbOp.hbm.xml"/>
    <mapping resource="pt/inesc/rectify/hibernate/TrainningRoute.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
