<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="HibernateSession">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">mysql</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rectify</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.autocommit">true</property>
		<mapping class="pt.inesc.rectify.hibernate.Configuration" resource="pt/inesc/rectify/hibernate/Configuration.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.KbDbOp" resource="pt/inesc/rectify/hibernate/KbDbOp.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.KbDbOpParts" resource="pt/inesc/rectify/hibernate/KbDbOpParts.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.KbHttpRequest" resource="pt/inesc/rectify/hibernate/KbHttpRequest.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.KbHttpRequestParts" resource="pt/inesc/rectify/hibernate/KbHttpRequestParts.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.KbHttpResponse" resource="pt/inesc/rectify/hibernate/KbHttpResponse.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.KbHttpResponseParts" resource="pt/inesc/rectify/hibernate/KbHttpResponseParts.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.LogDbOperation" resource="pt/inesc/rectify/hibernate/LogDbOperation.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.LogDbSubOperation" resource="pt/inesc/rectify/hibernate/LogDbSubOperation.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.LogHttpRequest" resource="pt/inesc/rectify/hibernate/LogHttpRequest.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.LogHttpResponse" resource="pt/inesc/rectify/hibernate/LogHttpResponse.hbm.xml"/>
		<mapping class="pt.inesc.rectify.hibernate.RectifyLog" resource="pt/inesc/rectify/hibernate/RectifyLog.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
